.footer {
  background: var(--color-highlight);
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  height: 48px;
  position: fixed;
  bottom: 0;
}

button {
  font-size: 35px;
  text-decoration: none;
  background: transparent;
  padding: 0px 20px;
  border: none;
}

.footer__app-nav button {
  border-radius: 0 0 5px 5px;
}
