* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: var(--color-black);
  font-family: var(--font-family);
  max-width: 600px;
  height: 100vh;
  margin: 0px;
}

.app-main {
  display: grid;
  place-items: center;
  grid-gap: 26px;
  overflow-y: scroll;
}
