:root {
  --color-white: #fefefe;
  --color-black: #111;
  --color-primary: #ffffff;
  --color-highlight: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  --color-secondary: #13547a;
  --color-teritary: #80d0c7;
  --font-family: 'Roboto', sans-serif;
}
